<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @surgeon.name %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @surgeon.hospital %>
</p>

<%= link_to 'Edit', edit_surgeon_path(@surgeon) %> |
<%= link_to 'Back', surgeons_path %>
