<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Diagnoses</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= diagnosis.name %></td>
        <td><%= diagnosis.description %></td>
        <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %> |
          <%= link_to 'Remove', diagnosis, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Diagnosis', new_diagnosis_path, class: 'btn btn-primary' %>
<hr/>
  <%= form_tag import_diagnoses_path,:multipart=>true do %>
      <div class="row">
      <div class="col-sm-3">
        <label>Select CSV File</label> <%= file_field_tag(:diagnosis_csv_file) %>
      </div>
      <div class="col-sm-3">
        <%= submit_tag 'Import',class: 'btn btn-primary' %>
      </div>
      </div>
  <% end %>
</div>
</div>