
<%= simple_nested_form_for(@or_schedule, html: { autocomplete: "off" }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.association :user, as: :hidden %>
      <%= f.association :admission, as: :hidden %>
      <div class="form-group row">
        <label class="col-sm-3">Patient</label>
        <div class="col-sm-9">
          <span class="form-control"><%= @or_schedule.admission.patient.name_and_mrn rescue nil %></div>
        </span>
      </div>
      <%= f.input :procedure_type, collection: Constants::PROCEDURE_TYPES %>
      <%= f.association :surgeon %>
      <div class="form-group row">
        <label class="col-form-label col-sm-3">Assisstant Surgeons</label>
        <div class="col-sm-9">
          <span id="assisstant_surgeons"><%= f.input :assisstant_surgeons, label: false, as: :array %></span>
          <br/>
          <a id="add-assisstant-button" class="btn btn-primary" style="color: white">Add Assisstant Surgeon</a>
          <br/>
        </div>
      </div>
      <%= f.input :blood_group %>
      <%= f.input :blood_units_required %>
      <%= f.association :or_block, label: 'OR Block' %>
      <%= f.association :or_table, collection: OrTable.all.map{|x| [x.to_s, x.id]} %>

      <div class="form-group row">
        <label class="col-sm-3">Anesthesians</label>
        <div class="col-sm-9">
          <div id="anesthesians">
            <%= f.simple_fields_for :or_schedule_anesthesians, :wrapper => false do |af| %>
              <div class="fields row">
                <div class='col-sm-9'><%= af.input :anesthesian_id,  label: false, collection: Anesthesian.all %></div>
                <div class='col-sm-3'><%= af.link_to_remove "Remove" %></div>
              </div>
            <% end %>
          </div>
          <p><%= f.link_to_add "Add Anesthesian", :or_schedule_anesthesians, :data => { :target => "#anesthesians" }, class: 'btn btn-primary' %></p>
        </div>
      </div>
      

      <%= f.association :anesthesia_type %>
      <%= f.association :scrub_nurse %>
      <%= f.association :circulating_nurse %>
      <div id="procedure_sub_form_display">
        <%= render partial: 'procedure_sub_form' %>
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
    </div>
<% end %>
