<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4>Schedule Details</h4>
  </div>
  <!-- Card Body -->
  <div class="card-body row">
    <table class="table col-sm-6">
      <tr>
        <th>Patient</th>
        <td><%= @or_schedule.admission.patient %></td>
      </tr>
      <tr>
        <th>Diagnosis type</th>
        <td><%= @or_schedule.admission.diagnosis %></td>
      </tr>

      <tr>
        <th>Procedure</th>
        <td><%= @or_schedule.admission.procedure %></td>
      </tr>

      <tr>
        <th>Procedure type</th>
        <td><%= @or_schedule.procedure_type %></td>
      </tr>

      <tr>
        <th>Surgeon</th>
        <td>
        <%= @or_schedule.surgeon %><br/>
        Assisstants
          <% @or_schedule.assisstant_surgeons.each do |as| %>
              <li><%= as %></li>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Blood Group</th>
        <td><%= @or_schedule.blood_group %></td>
      </tr>
      <tr>
        <th>Blood units required</th>
        <td><%= @or_schedule.blood_units_required %></td>
      </tr>
    </table>
    <table class="table col-sm-6">
      <tr>
        <th>OR Block</th>
        <td><%= @or_schedule.or_block %></td>
      </tr>

      <tr>
        <th>OR Table</th>
        <td><%= @or_schedule.or_table %></td>
      </tr>
      <tr>
        <th>Anesthesians:</th>
        <td>
          <ul>
            <% @or_schedule.anesthesians.each do |ans| %>
              <li><%= ans %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Anesthesia type</th>
        <td><%= @or_schedule.anesthesia_type %></td>
      </tr>

      <tr>
        <th>Scrub nurse:</th>
        <td><%= @or_schedule.scrub_nurse %></td>
      </tr>

      <tr>
        <th>Circulating nurse:</th>
        <td><%= @or_schedule.circulating_nurse %></td>
      </tr>

      <tr>
        <th>Scheduled date:</th>
        <td><%= @or_schedule.scheduled_date %></td>
      </tr>

      <tr>
        <th>Scheduled time:</th>
        <td><%= @or_schedule.scheduled_time.strftime("%I:%M %p") rescue nil %></td>
      </tr>
    </table>
    <hr/>
<%= link_to 'Edit', edit_or_schedule_path(@or_schedule), class: 'btn btn-primary' if can? :edit, @or_schedule %></div>
</div>