<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Users</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
<table class="table table-bordered dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>User name</th>
      <th>Email</th>
      <th>Full name</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.full_name %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add User', new_user_path, class: 'btn btn-primary' %>
  </div>
</div>