<%= simple_fields_for :surgical_service, @surgical_service do |f| %>
    <% if @status == Constants::CANCELLED %>
        <%= f.input :reason_for_cancellation, collection: Constants::OPERATION_CANCELLATION_REASONS %>
    <% elsif @status == Constants::OPERATED %>
        <%= f.input :date_operated, input_html: {class: 'ethiopian_date_picker'} %>
        <%= f.input :adverse_event_happened, label: 'Adverse Event', collection: [['Yes', true],['No', false]] %>
        <div id="adverse_event_display">
          <%= render partial: 'adverse_event' %>
        </div>
      <%= f.input :anesthesia_time, as: :string, input_html:
          { value: @surgical_service.blank? ? '' : (f.object.anesthesia_time.blank? ? '' : f.object.anesthesia_time.strftime("%I:%M %P")), class: 'time_picker'} %>
      <%= f.input :incision_time, as: :string, input_html:
          { value: @surgical_service.blank? ? '' : (f.object.incision_time.blank? ? '' : f.object.incision_time.strftime("%I:%M %P")), class: 'time_picker'} %>
      <%= f.input :surgery_end_time, as: :string, input_html:
          { value: @surgical_service.blank? ? '' : (f.object.surgery_end_time.blank? ? '' : f.object.surgery_end_time.strftime("%I:%M %P")), class: 'time_picker'} %>
      <%= f.input :surgical_safety_checklist_completed, as: :boolean, label: false %>
      <%= f.input :immediate_postoperative_outcome, collection: Constants::POSTOPERATIVE_OUTCOME %>
        <div id="death_reason_display">
          <%= render partial: 'death_reason' %>
        </div>
    <% end %>
<% end %>

<%= javascript_include_tag 'surgical_services' %>
<%= javascript_include_tag 'global' %>