<table class="table table-striped table-condensed table-responsive dataTable">
  <thead>
  <tr>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>MRN</th>
    <th>Name</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Telephone Number</th>
    <th>Diagnosis</th>
    <th>Procedure</th>
    <th>Priority</th>
    <th>Appointment Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @appointments.each do |a| %>
      <tr>
        <td>
          <% unless a.phone_calls.blank? %>
            <i class="fas fa-xs fa-phone-alt"></i><span class="badge badge-danger badge-counter" style="vertical-align: super"><%= a.phone_calls.count %></span>
          <% end %>
        </td>
        <td><%= link_to a.patient.mrn, a.patient %></td>
        <td><%= a.patient.full_name %></td>
        <td><%= a.patient.sex %></td>
        <td><%= Patient.age(a.patient.date_of_birth) %></td>
        <td><%= a.patient.primary_telephone_number %></td>
        <td><%= a.diagnosis %></td>
        <td><%= a.procedure %></td>
        <td><%= a.priority_status %></td>
        <td><%= a.appointment_date %></td>
        <td>
          <%= link_to 'Update Appointment', new_phone_call_path(admission: a.id) if can? :create, PhoneCall %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>