<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4>Patients</h4>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-striped table-responsive dataTable">
  <thead>
    <tr>
      <th>MRN</th>
      <th>First name</th>
      <th>Father name</th>
      <th>Grand father name</th>
      <th>Age</th>
      <th>Primary telephone number</th>
      <th>Date of registration</th>
      <th>Admission type</th>
      <th>Diagnosis</th>
      <th>Procedure</th>
      <th>Listing status</th>
      <th>Appointment date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.mrn %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.father_name %></td>
        <td><%= patient.grand_father_name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.primary_telephone_number %></td>
        <td><%= patient.latest_admission.try(:date_of_registration) %></td>
        <td><%= patient.latest_admission.try(:admission_type) %></td>
        <td><%= patient.latest_admission.try(:diagnosis) %></td>
        <td><%= patient.latest_admission.try(:procedure) %></td>
        <td><%= patient.latest_admission.try(:listing_status) %></td>
        <td><%= patient.latest_admission.try(:appointment_date) %></td>
        <td><%= link_to 'Details', patient %> |
          <%= link_to 'Edit', edit_patient_path(patient) %> |
          <%= link_to 'Remove', patient, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient Registration', new_patient_path, class: 'btn btn-primary' %>
  </div>
</div>