<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4>Backlog</h4>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-bordered buttons-dataTable" width="100%">
      <thead>
      <tr>
        <th>Procedure Category</th>
        <th>Department</th>
        <th>Backlog</th>
      </tr>
      </thead>
      <tbody>
      <% total = 0 %>
      <% ProcedureCategory.all.each do |pc| %>
          <tr>
            <td rowspan="<%= Department.count %>"><%= pc %></td>
            <% Department.all.each do |d| %>
                <td><%= d %></td>
                <th>
                  <% dt = d.missing_total(pc.id) %>
                  <% if dt > 0 %>
                    <%= link_to dt, admissions_path(department: d.id, category: pc.id) %>
                  <% else %>
                    <%= dt %>
                  <% end %>
                </th>
                <% total += dt %>
                </tr>
            <% end %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="2">Total</th>
        <th><%= link_to total, admissions_path %></th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>