<div class="card shadow mb-4">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4>Active Waiting List</h4>
  </div>
  <!-- Card Body -->
  <div class="card-body">
           <table class="table table-bordered buttons-dataTable" width="100%">
            <thead>
            <tr>
              <th>Procedure Category</th>
              <th>Department</th>
              <th><%= Constants::ON_WAITING_LIST %></th>
            </tr>
            </thead>
            <% totalw = 0 %>
            <% ProcedureCategory.all.each do |pc| %>
                <tr>
                <td rowspan="<%= Department.count %>"><%= pc %></td>
              <% Department.all.each do |d| %>
              <% dw = d.category_waiting_total(Constants::ON_WAITING_LIST, pc) %>
                  <td><%= d %></td>
                  <th><%= dw %></th>
                <% totalw += dw %>
              </tr>
            <% end %>
            <% end %>
             <tfoot>
            <tr>
                <th colspan='2'>Total</th>
                <th><%= Admission.waiting_total(Constants::ON_WAITING_LIST) %></th>
            </tr>
             </tfoot>
          </table>
  </div>
</div>