<div class="card shadow mb-4">
  <div class="card-body">
<table class="table-responsive" width="100%">
  <tr>
    <td>
      <table class="table table-responsive table-bordered" width="100%">
        <% Constants::PATIENT_STATUS.each do |s| %>
          <tr>
            <th>
              <center>
              <%= Admission.waiting_total(s) %><br/>
                Total <%= s %>
              </center>
            </th>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <table class="table table-bordered" width="100%">
        <thead>
        <tr>
          <th>Category</th>
          <th>Department</th>
          <% Constants::PATIENT_STATUS.each do |s| %>
              <th><%= s %></th>
          <% end %>
        </tr>
        </thead>
        <% ProcedureCategory.all.each do |pc| %>
            <tr>
            <td rowspan="<%= Department.count %>"><%= pc %></td>
          <% Department.all.each do |d| %>
              <td><%= d %></td>
              <% Constants::PATIENT_STATUS.each do |s| %>
                <th><%= d.category_waiting_total(s, pc.id) %></th>
              <% end %>
            </tr>
        <% end %>
        <% end %>
      </table>
    </td>
  </tr>
</table>
  </div>
</div>
  <%= line_chart patients_by_status_by_month_admissions_path, defer: true, title: 'Surgical Waitlist over the last 12 months', colors: ["#0000FF", "#008000", "#FF0000"] %>