<div class="row">
  <div class="card shadow mb-4 col-sm-6">
    <div class="card-body row">
      <table class="table table-bordered" width="100%">
              <thead>
              <tr>
                <th>Procedure Category</th>
                <th>Department</th>
                <% Constants::PATIENT_STATUS.each do |s| %>
                    <th><%= s %></th>
                <% end %>
              </tr>
              </thead>
              <% @procedure_categories.each do |pc| %>
                  <tr>
                    <td rowspan="<%= Department.count %>"><%= pc %></td>
                    <% Department.all.each do |d| %>
                        <td><%= d %></td>
                        <% Constants::PATIENT_STATUS.each do |s| %>
                            <th><%= d.category_waiting_total(s, pc.id) %></th>
                        <% end %>
                        </tr>
                    <% end %>
              <% end %>
              <tr>
                <th colspan="2">Total</th>
                <% Constants::PATIENT_STATUS.each do |s| %>
                    <th>
                        <%= Admission.waiting_total(s) %><br/>
                    </th>
              <% end %>
              </tr>
      </table>
    </div>
  </div>
  <div class="card shadow mb-4 col-sm-6">
    <div class="card-body">
      <legend>Backlog</legend>
      <table class="table table-bordered" width="100%">

        <thead>
        <tr>
          <th>Procedure Category</th>
          <th>Department</th>
          <th>Backlog</th>
        </tr>
        </thead>
        <% total = 0 %>
        <% @procedure_categories.each do |pc| %>
            <tr>
              <td rowspan="<%= Department.count %>"><%= pc %></td>
              <% Department.all.each do |d| %>
                  <td><%= d %></td>
                  <th><%= dt = d.missing_total(pc.id) %></th>
                  <% total += dt %>
                  </tr>
              <% end %>
        <% end %>
        <tr>
          <th colspan="2">Total</th>
          <th><%= link_to total, admissions_path %></th>
        </tr>
      </table>
    </div>
  </div>
</div>
<%= line_chart patients_by_status_by_month_admissions_path, defer: true, title: 'Surgical Waitlist over the last 12 months', colors: ["#0000FF", "#008000", "#FF0000"] %>