<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Procedures</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Procedure Category</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @procedures.each do |procedure| %>
          <tr>
            <td><%= procedure.name %></td>
            <td><%= procedure.procedure_category %></td>
            <td><%= link_to 'Edit', edit_procedure_path(procedure) %> |
              <%= link_to 'Delete', procedure, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Add New Procedure', new_procedure_path, class: 'btn btn-primary' %>
  </div>
</div>