
<%= simple_form_for(@administration_unit) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, collection: ['Country', 'Region', 'Zone', 'Sub City', 'Woreda'] %>
    <%= f.input :parent_administration_unit_id, collection: [@parent], selected: @parent %>
    <div class="form-group row">
    <label class="custom-control-label col-sm-3">Status</label>
    <div class="col-sm-9">
      <span class="form-control"><%= f.input :status,label: 'Active', wrapper: :vertical_boolean, as: :boolean %></span>
    </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
