<% if @admission_type == Constants::ELECTIVE %>
    <%= simple_fields_for :admission, @admission do |f| %>
        <%= f.input :priority, as: :boolean, disabled: @admission.blank? ? false : f.object.persisted? %>
        <%= f.input :listing_status, collection: Constants::STATUS %>
        <div id="information_display">
          <%= render partial: 'information' %>
        </div>
        <%= f.input :appointment_date, input_html: {class: 'ethiopian_date_picker'} %>
        <%= f.input :payment_type_id, collection: PaymentType.all, disabled: @admission.blank? ? false : f.object.persisted? %>
    <% end %>
<% end %>

<%= javascript_include_tag 'admissions', 'global' %>
