
<%= simple_form_for(@admission, html: { autocomplete: "off" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="row">
      <div class="col-lg-6">
        <%= f.association :patient, as: :hidden %>
        <div class="form-group row">
          <label class="col-sm-3">Patient</label>
          <div class="col-sm-9">
            <span class="form-control"><%= @admission.patient.name_and_mrn rescue nil %></div>
          </span>
        </div>
        <%= f.input :referring_facility, disabled: f.object.persisted? %>
        <%= f.input :date_of_registration, disabled: f.object.persisted?, input_html: {class: 'ethiopian_date_picker'} %>
        <%= f.input :admission_type, collection: Constants::ADMISSION_TYPES, disabled: f.object.persisted? %>
        <%= f.association :procedure, disabled: f.object.persisted? %>
        <div id="procedure_category_display">

        </div>
        <%= f.association :diagnosis, disabled: f.object.persisted? %>
        <%= f.association :physician, label: 'Admitting Physician Name', disabled: f.object.persisted? %>
      </div>
      <div class="col-lg-6" id="sub_admission_form">
        <%= render partial: 'sub_form' %>
      </div>
    </div>
  <div class="form-actions">
    <div id="submit_display">
      <%= render partial: 'submit' %>
    </div>
  </div>
<% end %>
