<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4>Admission</h4>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <%= simple_form_for(@admission, html: { autocomplete: "off" }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :admission_date, input_html: {class: 'ethiopian_date_picker'}, disabled: !f.object.admission_date.blank? %>
        <%= f.input :department_id, collection: Department.all, label: 'Admitting Department', disabled: !f.object.department_id.blank? %>
        <%= f.input :reason_for_admission, collection: Constants::REASON_FOR_ADMISSION, disabled: !f.object.reason_for_admission.blank? %>
        <%= f.input :ward_id, collection: Ward.all, label: 'Admitting Ward', disabled: !f.object.ward_id.blank? %>
        <%= f.input :bed_id, label: 'Bed Number', collection: @beds, disabled: !f.object.ward_id.blank? %>
        <div class="form-actions">
          <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>