<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Backlog List</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
  <table class="table table-striped table-responsive dataTable">
      <thead>
      <tr>
        <th>Patient</th>
        <th>Admission type</th>
        <th>Diagnosis</th>
        <th>Procedure</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Physician</th>
        <th>Department</th>
        <th>Listing status</th>
        <th>Appointment date</th>
        <th>Status type</th>
      </tr>
      </thead>

      <tbody>
      <% @admissions.each do |admission| %>
          <tr>
            <td><%= link_to admission.patient, admission.patient %></td>
            <td><%= admission.admission_type %></td>
            <td><%= admission.diagnosis %></td>
            <td><%= admission.procedure %></td>
            <td><%= admission.procedure.procedure_category %></td>
            <td><%= admission.priority_status %></td>
            <td><%= admission.physician %></td>
            <td><%= admission.department %></td>
            <td><%= admission.listing_status %></td>
            <td><%= admission.appointment_date %></td>
            <td><%= admission.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>