<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FMOH - SWOSS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body class="bg-gradient-primary">

<div class="container">

  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row" style="padding: 10px">
            <div class="col-sm-3"><%= image_tag 'logo.png', width: '150px' %></div>
            <h3 class="col-sm-6" style="font-weight: bold">Surgical Waitlist Management <br/>and OR Scheduling System<br/> (SWOSS)</h3>
            <div class="col-sm-3"><%= image_tag Hospital.first.logo, width: '150px' rescue nil %></div>
          </div>
          <hr/>
  <%= yield %>
        </div>
      </div>
    </div>
  </div>

</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>
